@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@500&family=Arvo:wght@700&family=Domine:wght@600&family=Inter:wght@700&display=swap');
body {
    margin: 0;
    padding: 0;
}
.orange {background: orange;
color: black;
font-family: 'Inter', sans-serif;
}
.blok {background: rgb(250, 221, 157);
border-radius: 10%;
border: 5px;
border-style: solid;
width:25%;
padding: 20px;
margin: 20px;
font-family: 'Inter', sans-serif;
}
.shapka {background: rgb(250, 221, 157);

}


