@charset "UTF-8";
/*Обнуление CSS*/
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*Конец обнуления CSS*/
* {
  overflow-x: hidden;
}

body {
  background-image: url(https://kartinkin.net/uploads/posts/2022-12/1669976210_55-kartinkin-net-p-belii-fon-abstraktsiya-krasivo-57.jpg);
}
body .shapka {
  background: rgb(250, 221, 157);
  opacity: 0.8;
  display: block;
  z-index: 1;
}
body .shapka .shapka__logo {
  height: 150px;
  margin-left: 20px;
  opacity: 1;
}
body .zagolovok {
  background: orange;
  height: 30px;
  position: relative;
  opacity: 0.8;
  z-index: 0;
}
body .zagolovok .zagolovok__text {
  color: black;
  font-family: "Inter", sans-serif;
  text-decoration: none;
  font-weight: 900;
  margin-left: 100px;
  font-size: 20px;
  line-height: 30px;
}
body .conteiner {
  max-width: 1300px;
  padding: 15px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 1200px) {
  body .conteiner .conteiner {
    min-width: 970px;
  }
}
@media (max-width: 1100px) {
  body .conteiner .conteiner {
    min-width: 750px;
  }
}
@media (max-width: 768px) {
  body .conteiner .conteiner {
    min-width: none;
  }
}
body .conteiner .left-nav {
  width: 25%;
  margin-top: 20px;
  padding-right: 10px;
  height: 700px;
}
@media (max-width: 1075px) {
  body .conteiner .left-nav {
    width: 100%;
    height: 340px;
    padding-left: 50px;
    padding-right: 50px;
  }
}
@media (max-width: 360px) {
  body .conteiner .left-nav {
    padding-left: 0px;
    padding-right: 0px;
  }
}
body .conteiner .left-nav .left-nav__punkt {
  border-radius: 30px;
  background-color: rgb(250, 221, 157);
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}
body .conteiner .left-nav .left-nav__punkt .left-nav__img {
  border-radius: 50%;
  width: 80px;
  height: 80px;
  margin: 5px;
}
@media (max-width: 1075px) {
  body .conteiner .left-nav .left-nav__punkt .left-nav__img {
    width: 50px;
    height: 50px;
    margin-left: 50px;
  }
}
@media (max-width: 360px) {
  body .conteiner .left-nav .left-nav__punkt .left-nav__img {
    margin-left: 50px;
  }
}
body .conteiner .left-nav .left-nav__punkt .left-nav__text {
  line-height: 80px;
  color: #000;
  font-size: 30px;
  font-weight: 600;
  background-color: rgb(250, 221, 157);
}
@media (max-width: 1075px) {
  body .conteiner .left-nav .left-nav__punkt .left-nav__text {
    font-size: 20px;
    line-height: 50px;
  }
}
@media (max-width: 360px) {
  body .conteiner .left-nav .left-nav__punkt .left-nav__text {
    font-size: 15px;
    line-height: 50px;
  }
}
body .conteiner .left-nav .left-nav__punkt:hover {
  border-radius: 30px;
  background-color: rgb(250, 221, 157);
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: -10px;
  transition-duration: 500ms;
}
@media (max-width: 1075px) {
  body .conteiner .left-nav .left-nav__punkt:hover {
    margin-left: 0;
    margin-right: 0;
  }
}
body .conteiner .left-nav .left-nav__punkt--active {
  border-radius: 30px;
  background-color: rgb(250, 221, 157);
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: -10px;
}
@media (max-width: 1075px) {
  body .conteiner .left-nav .left-nav__punkt--active {
    margin-left: 0px;
    margin-right: 0px;
    background-color: rgb(247, 203, 110);
  }
}
body .conteiner .left-nav .left-nav__punkt--active .left-nav__img {
  border-radius: 50%;
  width: 80px;
  height: 80px;
  margin: 5px;
}
@media (max-width: 1075px) {
  body .conteiner .left-nav .left-nav__punkt--active .left-nav__img {
    width: 50px;
    height: 50px;
    margin-left: 50px;
  }
}
@media (max-width: 360px) {
  body .conteiner .left-nav .left-nav__punkt--active .left-nav__img {
    margin-left: 50px;
  }
}
body .conteiner .left-nav .left-nav__punkt--active .left-nav__text {
  line-height: 80px;
  color: #000;
  font-size: 30px;
  font-weight: 600;
  background-color: rgb(250, 221, 157);
}
@media (max-width: 1075px) {
  body .conteiner .left-nav .left-nav__punkt--active .left-nav__text {
    font-size: 20px;
    line-height: 50px;
    background-color: rgb(247, 203, 110);
  }
}
@media (max-width: 360px) {
  body .conteiner .left-nav .left-nav__punkt--active .left-nav__text {
    font-size: 15px;
    line-height: 50px;
  }
}
@media (max-width: 1075px) {
  body .conteiner .left-nav .left-nav__punkt--active {
    margin-left: 0;
    margin-right: 0;
  }
}
body .content {
  width: 74%;
  padding-left: 20px;
  margin-left: 10px;
}
@media (max-width: 1075px) {
  body .content {
    width: 100%;
  }
}
body .content .opisanie {
  display: flex;
  flex-wrap: wrap;
  flex: 0 1 50%;
}
body .content .opisanie .opisanie__text {
  background: rgb(250, 221, 157);
  margin-right: 10px;
  border: 0;
  border-radius: 30px;
  border-style: solid;
  width: 40%;
  padding: 30px;
  font-family: "Inter", sans-serif;
  opacity: 0.8;
  position: relative;
  line-height: 30px;
  font-size: 18px;
}
@media (max-width: 940px) {
  body .content .opisanie .opisanie__text {
    width: 100%;
    margin-bottom: 20px;
  }
}
body .content .opisanie .opisanie__photo {
  width: 58%;
  flex-wrap: wrap;
  padding-left: 5px;
}
@media (max-width: 940px) {
  body .content .opisanie .opisanie__photo {
    width: 100%;
  }
}
body .content .opisanie .opisanie__photo .photo__img {
  width: 48%;
  margin: 5px;
  border-radius: 10%;
  float: left;
}
@media (max-width: 570px) {
  body .content .opisanie .opisanie__photo .photo__img {
    width: 100%;
  }
}
body .content .contacts {
  margin-top: 50px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex: 0 1 50%;
}
body .content .contacts .contacts__text {
  background: rgb(250, 221, 157);
  border: 0;
  border-radius: 30px;
  border-style: solid;
  width: 40%;
  height: 480px;
  padding: 30px;
  font-family: "Inter", sans-serif;
  opacity: 0.8;
  line-height: 30px;
  font-size: 18px;
}
@media (max-width: 940px) {
  body .content .contacts .contacts__text {
    width: 100%;
  }
}
body .content .contacts .map {
  width: 55%;
  height: 480px;
  margin-right: 20px;
  border-radius: 30px;
  border: 1px solid #000;
  overflow: hidden;
}
@media (max-width: 940px) {
  body .content .contacts .map {
    width: 100%;
    margin-bottom: 20px;
    flex-grow: 0;
  }
}

.blok-tovar {
  text-align: center;
}
.blok-tovar .blok-tovar__opisanie {
  background: rgb(250, 221, 157);
  border: 0;
  border-radius: 30px;
  border-style: solid;
  padding: 20px;
  margin: 20px;
  font-family: "Inter", sans-serif;
  opacity: 0.8;
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 20px;
}
.blok-tovar .blok-tovar__img {
  display: flex;
  flex-wrap: wrap;
}
.blok-tovar .blok-tovar__img .tovar-img {
  color: #000000;
  height: 280px;
  width: 280px;
  text-align: center;
  line-height: 200px;
  float: inherit;
  border: 10px solid rgb(250, 221, 157);
  border-radius: 60px;
  margin: 5px;
  float: left;
}