@import "clean-style.scss";
* {
  overflow-x: hidden;
}
body {
  background-image: url(https://kartinkin.net/uploads/posts/2022-12/1669976210_55-kartinkin-net-p-belii-fon-abstraktsiya-krasivo-57.jpg);

  .shapka {
    background: rgb(250, 221, 157);

    opacity: 0.8;
    display: block;
    z-index: 1;
    .shapka__logo {
      height: 150px;
      margin-left: 20px;
      opacity: 1;
    }
  }
  .zagolovok {
    background: orange;
    height: 30px;
    position: relative;
    opacity: 0.8;
    z-index: 0;
    .zagolovok__text {
      color: black;
      font-family: "Inter", sans-serif;
      text-decoration: none;
      font-weight: 900;
      margin-left: 100px;
      font-size: 20px;
      line-height: 30px;
    }
  }
  .conteiner {
    max-width: 1300px;
    padding: 15px;
    margin: 0 auto;
    display: flex;
    @media (max-width: 1200px) {
      .conteiner {
        min-width: 970px;
      }
    }
    @media (max-width: 992px) {
      .conteiner {
        min-width: 750px;
      }
    }
    @media (max-width: 768px) {
      .conteiner {
        min-width: none;
      }
    }
    .left-nav {
      width: 25%;
      margin-top: 20px;
      padding-right: 15px;

      .left-nav__punkt {
        border-radius: 30px;
        background-color: rgb(250, 221, 157);
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        .left-nav__img {
          border-radius: 50%;
          width: 80px;
          height: 80px;
          margin: 10px;
          @media (max-width: 992px) {
            width: 50px;
            height: 50px;
            margin: 10px;
          }
          @media (max-width: 782px) {
            width: 30px;
            height: 30px;
            margin: 10px;
            display: none;
          }
        }
        .left-nav__text {
          line-height: 100px;
          color: #000;
          font-size: 30px;
          font-weight: 600;
          background-color: rgb(250, 221, 157);
          @media (max-width: 992px) {
            font-size: 20px;
            line-height: 80px;
          }
          @media (max-width: 768px) {
            font-size: 14px;
            line-height: 50px;
            margin: 10px;
          }
        }

        &:hover {
          border-radius: 30px;
          background-color: rgb(250, 221, 157);
          margin-bottom: 20px;
          margin-left: 15px;
          margin-right: -15px;
        }
        &--active {
          border-radius: 30px;
          background-color: rgb(250, 221, 157);
          margin-bottom: 20px;
          margin-left: 20px;
          margin-right: -20px;
        }
      }
    }
    .content {
      width: 75%;
      padding-left: 20px;
      margin-left: 10px;
      .opisanie {
        margin-top: 50px;
        display: flex;
        flex: 0 1 50%;
        .opisanie__text {
          background: rgb(250, 221, 157);
          margin-right: 10px;
          border: 0;
          border-radius: 30px;
          border-style: solid;
          width: 40%;
          padding: 30px;
          font-family: "Inter", sans-serif;
          opacity: 0.8;
          position: relative;
          line-height: 30px;
          font-size: 18px;
        }
        .opisanie__photo {
          width: 60%;

          padding-left: 5px;
          .photo__img {
            width: 48%;
            margin: 5px;
            border-radius: 10%;
            float: left;
          }
        }
      }
      .contacts {
        height: 350px;
        margin-top: 50px;
        width: 100%;
        height: 500px;
        display: flex;
        flex: 0 1 50%;
        .contacts__text {
          background: rgb(250, 221, 157);
          border: 0;
          border-radius: 30px;
          border-style: solid;
          width: 40%;
          height: 480px;
          padding: 30px;
          font-family: "Inter", sans-serif;
          opacity: 0.8;
          line-height: 30px;
          font-size: 18px;
        }
        .map {
          width: 55%;
          height: 480px;
          margin-right: 20px;
          border-radius: 30px;
          border: 1px solid #000;
          overflow: hidden;
        }
      }
    }
  }
  .opisanie__blok--mini {
    background: rgb(250, 221, 157);
    border: 0;
    border-radius: 30px;
    border-style: solid;
    width: 80%;
    padding: 20px;
    margin: 20px;
    margin-left: 110px;
    font-family: "Inter", sans-serif;
    opacity: 0.8;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 20px;
  }
  .tovar-img {
    color: #000000;
    height: 280px;
    width: 280px;
    text-align: center;
    line-height: 200px;
    float: inherit;
    border: 10px solid rgb(250, 221, 157);
    border-radius: 60px;
    margin: 5px;
    float: left;
  }
}
